body {
    font-family: lato, serif;
    background-color: #F7F2EE;
}

.content-wrapper {
    position: relative;
    width: 100%;
    background-color: #F7F2EE;
}

.content {
    @include outer-container;
    padding-top: 4em;
}

$special-mini: new-breakpoint(max-width 480px);
$small: new-breakpoint(min-width 480px);
$medium: new-breakpoint(min-width 480px);
$large: new-breakpoint(min-width 480px);

.about {
    .content {
        text-align: center;
    }
}

.icon.close {
    @include icon($qnet_font_icons_vector_first-01);
    font-size: 12px;
}